@use "scale.scss";

$base-padding: scale.step(1);
$base-stagger: scale.step(-1);

$prose-width: 45rem;
$breakout-width: 60rem;

$hue-main: 10;
$hue-complementary: 200;

$color-white: #fff;
$color-light: hsla($hue-main, 15%, 95%, 95%);
$color-dark: hsla($hue-main, 95%, 5%, 95%);
$color-dark-alternate: hsla($hue-complementary, 95%, 15%, 95%);
$color-mid: hsl($hue-complementary, 15%, 35%);
$color-interactive: hsl($hue-main, 100%, 32%);
$color-interactive-active: hsl($hue-main, 100%, 27%);
$color-accent: hsl($hue-complementary, 75%, 60%);

$nav-link-padding: scale.step(-3);
$nav-link-margin: scale.step(-1);

$font-body: "Roboto", sans-serif;
$font-display: "Libre Baskerville", serif;
$font-code: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
  "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
