@use "scale.scss";

$base-padding: scale.step(1);

$prose-width: 60ch;

$color-light: hsla(199, 15%, 95%, 95%);
$color-dark: hsla(199, 95%, 5%, 95%);
$color-dark-alternate: hsla(199, 95%, 15%, 95%);
$color-interactive: hsl(199, 100%, 32%);
$color-interactive-active: hsl(199, 100%, 27%);
$color-interactive-alternate: hsl(19, 65%, 85%);
