@use "sass:color";
@use "../base/scale.scss";
@use "../base/mixins/link.scss";
@import "../base/_config.scss";

.prose {
  max-width: $prose-width;

  // Space items vertically in prose blocks
  > * + * {
    margin-top: scale.step(-1);
  }

  // Set default styles for non-heading text content.
  p,
  ul,
  ol {
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
  }

  // TODO: Heading sizes should go down a step on small screens
  h1 {
    font-size: scale.step(3);
  }

  h2 {
    font-size: scale.step(2);
  }

  h3 {
    font-size: scale.step(2);
  }

  // I don't anticipate needing level 5 or 6 headings. If I do this will need to
  // be revisited.
  h4,
  h5,
  h6 {
    font-size: scale.step(0);
  }
}

// TODO: Make this a mixin to use in both places. I started this but it wasn't working...
.prose a,
nav a,
header a {
  color: $color-interactive;
  text-decoration: none;
  position: relative;

  &::before {
    background-color: $color-interactive-alternate;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(1, 0.1);
    transform-origin: bottom;
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
    top: 0;
    z-index: -1;
  }

  &:hover::before {
    transform: scale(1.05, 1.2) translateY(5%) rotate(-1.5deg);
    // TODO: Can I make this look good while maintaining color contrast standards?
    opacity: 0.35;
  }

  // TODO: Focus styles
}

$nav-link-padding: scale.step(-3);
$nav-link-margin: scale.step(-1);

nav a,
header a {
  display: inline-block;
  padding: $nav-link-padding 0;
  text-align: center;

  &::before {
    bottom: $nav-link-padding;
    top: $nav-link-padding;
  }
}

nav a + a {
  margin-left: $nav-link-margin;
}
