@import "../../../assets/styles/base/config";

:root {
  --scale-value: 12vw;

  /* Based off of info from https://support.polaroid.com/hc/en-us/articles/115012363647-Polaroid-Originals-photo-dimensions */
  --polaroid-width: calc(3.5 * var(--scale-value));
  --polaroid-height: calc(4.2 * var(--scale-value));
  --polaroid-image-size: calc(3.1 * var(--scale-value));
  --polaroid-gutter: calc((var(--polaroid-width) - var(--polaroid-image-size)) / 2);
  --polaroid-caption-height: calc(var(--polaroid-height) - var(--polaroid-image-size));

  --polaroid-undeveloped: opacity(0) brightness(0.3) contrast(300%);
}

.hero {
  display: grid;
  place-items: center;
  gap: 3em;
  grid-template-columns: 1fr;
  grid-template-areas:
  'graphic'
  'text';
}

.hero__graphic::before {
  content: '';
  // background: #ccc;
  display: block;
  padding-bottom: 120%;
}

@media(min-width: 30em) {
  :root {
    --scale-value: 9vw;
  }

  .hero__graphic::before {
    padding-bottom: 90%;
  }
}

@media(min-width: 40em) {
  .hero {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'text graphic';
  }

  .hero__graphic::before {
    padding-bottom: 100%;
  }

  :root {
    --scale-value: 5vw;
  }
}

@media(min-width: 60em) {
  .hero {
    grid-template-columns: 1fr 1fr;
  }

  .hero__graphic::before {
    content: '';
    display: block;
    padding-bottom: 80%;
  }
}

@media(min-width: 90em) {
  :root {
    --scale-value: 5rem;
  }
}

.hero__graphic {
  position: relative;
  width: 100%;
  height:100%;
  grid-area: graphic;
}

.hero__graphic::before {
  content: '';
  display: block;
}

.hero__graphic-inner {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero__text {
  grid-area: text;
}

/**
 * Polaroid StackStyles
 */

.polaroid-stack {
  display: grid;
  grid-template-areas: 'content';
  place-items: center;
}

.polaroid-stack__card {
  grid-area: content;
  display: grid;
  place-items: center;
  transform: var(--end-state);
  width: 100%;
  height: 100%;
}

.polaroid-stack__card:first-child {
  --end-state: translate(-7%, -33%) rotate(-5deg);
}

.polaroid-stack__card:nth-child(2) {
  --end-state: translate(25%, -11%) rotate(25deg);
}

.polaroid-stack__card:nth-child(3) {
  --end-state: translate(-22%, 0) rotate(-40deg);
}

.polaroid-stack__card:nth-child(4) {
  --end-state: translate(3%, 25%) rotate(13deg);
}

@media(prefers-reduced-motion: no-preference) {
  @keyframes card {
    from {
      transform: rotate(0) translate(0, 5em) scale(0.7);
    }

    to {
      transform: var(--end-state);
    }
  }

  .polaroid-stack__card {
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-name: card;
    pointer-events: none;
  }

  .polaroid {
    transition: transform 0.2s ease-out;
    pointer-events: auto;
  }

  .polaroid:hover {
    transform: translateY(-5%);
  }
}

/**
 * Polaroid Styles
 */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.polaroid {
  background: #fff;
  /* Generated using https://brumm.af/shadows */
  box-shadow:
    0 0.4px 0.8px rgba(0, 0, 0, 0.037),
    0 1px 1.9px rgba(0, 0, 0, 0.053),
    0 1.9px 3.6px rgba(0, 0, 0, 0.065),
    0 3.4px 6.5px rgba(0, 0, 0, 0.077),
    0 6.3px 12.1px rgba(0, 0, 0, 0.093),
    0 15px 29px rgba(0, 0, 0, 0.13)
  ;
  display: flex;
  flex-direction: column;
  padding: var(--polaroid-gutter);
  padding-bottom: 0;
  width: var(--polaroid-width);
}

.polaroid__frame {
  background: #424647;
  height: var(--polaroid-image-size);
  width: var(--polaroid-image-size);
}

.polaroid__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.polaroid__image--crop-right {
  object-position: 100% 50%
}

.polaroid__image--crop-left {
  object-position: 0% 50%
}

.polaroid__image--crop-top {
  object-position: 50% 0%
}

.polaroid__image--crop-bottom {
  object-position: 50% 100%
}

/**
 * Animation inspired by Polaroids Revealed
 * https://www.latimes.com/104036986-132.html
 */
@keyframes developing {
  from {
    filter: var(--polaroid-undeveloped);
  }

  to {
    filter: opacity(100%) brightness(1) contrast(100%);
  }
}

.polaroid__image {
  animation-delay: 0.2s;
  animation-duration: 0.5s;
  animation-name: developing;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  filter: var(--polaroid-undeveloped);
}

.polaroid__caption {
  color: #336;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--polaroid-caption-height);
  font-family: 'Permanent Marker', sans-serif;
}

.polaroid__title {
  font-size: calc(var(--scale-value) / 3.2);
}

.polaroid__date {
  font-size: calc(var(--scale-value) / 3.5);
}

.alert-banner {
  display: none !important;
}

.container--offset {
  background-color: $color-main-lighter;
}

.window {
  background-color: #fff;
  border-radius: 0.5em;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  resize: both;
  width: 25em;
  height: 20em;
  position: absolute;
  left: var(--window-left);
  top: var(--window-top);
/* Generated using https://brumm.af/shadows */
  box-shadow:
    0 0.4px 0.8px rgba(0, 0, 0, 0.037),
    0 1px 1.9px rgba(0, 0, 0, 0.053),
    0 1.9px 3.6px rgba(0, 0, 0, 0.065),
    0 3.4px 6.5px rgba(0, 0, 0, 0.077),
    0 6.3px 12.1px rgba(0, 0, 0, 0.093),
    0 15px 29px rgba(0, 0, 0, 0.13)
  ;
}

@keyframes closing {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  99% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    visibility: hidden;
  }
}

.window.is-closing {
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-name: closing;
}

.window.is-dragging .window__header {
  cursor: grabbing;
}

.window.is-dragging .window__content {
  pointer-events: none;
}

.window-stack {
  place-items: center;
  display: grid;
}

.window__header {
  cursor: grab;
  display: flex;
  align-items: center;
  background-color: $color-secondary-lighter;
  padding: 0.5em;
}

// TODO: Better focus styles
.window__close-button {
  appearance: none;
  background-color: $color-secondary;
  border-color: hsla(0, 0%, 0%, 0.2);
  color: hsla(0, 0%, 100%, 0.8);
  cursor: pointer;
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  margin-right: 0.5em;
  display: grid;
  place-items: center;

  &::before {
    content: '×';
    display: none;
    line-height: 0;
    font-size: 0.9em;
  }

  &:hover::before,
  &:focus::before {
    display: block;
  }
}

.window__title {
  font-family: $font-body;
  color: #333;
  font-weight: normal;
  font-size: 1em;
  flex-grow: 1;
  text-align: center;
}

.window__content {
  display: grid;
  place-items: stretch;
  flex-grow: 1;
}

.window__content iframe {
  border: none;
}
