---
title: Polaroids
layout: layouts/page
stylesheets:
- /design-system/prototypes/polaroids/polaroids
---

{{#>container containerModifier="container--secondary" innerClass="hero"}}
  <div class="prose hero__text">
    <h1>Hey, I'm Paul!</h1>

    <p class="subhead">I design and code inclusive websites and web apps.</p>

    <p>
      I love switching back and forth between my sketchbook and code editor,
      obsessing over design systems, accessible interfaces, and performant code.
    </p>

    <p>
      I live in
      <a href="https://www.currentresults.com/Weather-Extremes/US/cloudiest-cities.php">sunny Portland Oregon</a>
      where I build accessible design systems and progressive web apps with the
      talented folks at <a href="https://cloudfour.com">Cloud Four</a>.
    </p>

    <p>
      In addition to designing and developing websites I enjoy
      <a href="/writing">writing</a>,
      drawing,
      {{!-- <a href="/art">drawing</a>, --}}
      gardening, cooking, and exploring the great outdoors.
    </p>
  </div>

  <div class="hero__graphic">
    <div class="hero__graphic-inner polaroid-stack">
      <div class="polaroid-stack__card">
        <div class="polaroid">
          <div class="polaroid__frame">
            <img
              class="polaroid__image"
              src="https://assets.codepen.io/592829/IMG_2719.JPG?width=900&format=auto"
              alt="A man and his dog in front of a mossy log cabin in the woods. The dog's about to step into a puddle.">
          </div>
          <figcaption class="polaroid__caption">
            <span class="polaroid__title">
              Ecola State Park
              <br>
              Hikers Camp
            </span>
            <time datetime="2020-10-13" class="polaroid__date">
              10/13/20
            </time>
          </figcaption>
        </div>
      </div>

      <div class="polaroid-stack__card">
        <div class="polaroid">
          <div class="polaroid__frame">
            <img
              class="polaroid__image"
              src="fanny.jpg"
              alt="A man and his dog in front of a mossy log cabin in the woods. The dog's about to step into a puddle.">
          </div>
          <figcaption class="polaroid__caption">
            <span class="polaroid__title">
              Ecola State Park
              <br>
              Hikers Camp
            </span>
            <time datetime="2020-10-13" class="polaroid__date">
              10/13/20
            </time>
          </figcaption>
        </div>
      </div>

      <div class="polaroid-stack__card">
        <div class="polaroid">
          <div class="polaroid__frame">
            <img
              class="polaroid__image"
              src="picnic.jpg"
              alt="A man and his dog in front of a mossy log cabin in the woods. The dog's about to step into a puddle.">
          </div>
          <figcaption class="polaroid__caption">
            <span class="polaroid__title">
              Ecola State Park
              <br>
              Hikers Camp
            </span>
            <time datetime="2020-10-13" class="polaroid__date">
              10/13/20
            </time>
          </figcaption>
        </div>
      </div>

      <div class="polaroid-stack__card">
        <div class="polaroid">
          <div class="polaroid__frame">
            <img
              class="polaroid__image"
              src="noodles.jpg"
              alt="A man and his dog in front of a mossy log cabin in the woods. The dog's about to step into a puddle.">
          </div>
          <figcaption class="polaroid__caption">
            <span class="polaroid__title">
              Home-made
              <br>
              Pasta!!
            </span>
            <time datetime="2020-10-13" class="polaroid__date">
              10/13/20
            </time>
          </figcaption>
        </div>
      </div>

      <div class="polaroid-stack__card">
        <div class="polaroid">
          <div class="polaroid__frame">
            <img
              class="polaroid__image"
              src="wind.jpg"
              alt="A man and his dog wearing backpacking packs in the woods.">
          </div>
          <figcaption class="polaroid__caption">
            <span class="polaroid__title">
              Montserrat Monastery
            </span>
            {{!-- TODO: Wrong --}}
            <time datetime="2021-06-04" class="polaroid__date">
              6/4/21
            </time>
          </figcaption>
        </div>
      </div>
    </div>
  </div>
{{/container}}
