---
title: Subhead
notes: |
  A subhead can be paired with a heading to emphasize and expand on the
  heading's content.

  It is best used with `h1` and `h2` tags.
---

{{#>container innerClass="prose"}}
  <h1>Example h1</h1>

  <p class="subhead">More information about this example heading!</p>

  <h2>Example h2</h2>

  <p class="subhead">More information about this example heading!</p>
{{/container}}
