:root {
  --color-bg: #{$color-secondary-lighter};
  --color-bg-alt: #{$color-white};
  --color-text: #{$color-main-darker};
  --color-interactive: #{$color-secondary};
  --color-accent: #{$color-main-dark};
  --color-heading: #{$color-main-dark};
  --color-mid: #{$color-secondary-darker};
  --color-subtle: #{$color-secondary-dark};

  --color-subhead: #{$color-secondary-darker};

  --color-link: var(--color-interactive);
  --color-link-underline: #{$color-main-light};
  --color-link-underline-hover: var(--color-interactive);
  --color-link-hover:#{$color-white};
}

.theme--dark {
  --color-bg: #{$color-main};
  --color-bg-alt: #{$color-main-dark};
  --color-text: #{$color-white};
  --color-interactive: #{$color-white};
  --color-accent: #{$color-secondary-light};
  --color-heading: #{$color-white};
  --color-mid: #{$color-secondary-lighter};
  --color-subtle: #{$color-white};

  --color-subhead: #{$color-white};

  --color-link: var(--color-interactive);
  --color-link-underline: var(--color-accent);
  --color-link-underline-hover: var(--color-interactive);
  --color-link-hover: #{$color-main};

  color: var(--color-text);
  background-color: var(--color-bg);
}
