---
title: Themes
notes: |
  Themes can be applied to entire pages or sections of content to alter their colors.

  Theming is achieved by using CSS custom properties to overwrite color values in themed contexts.
layout: layouts/documentation.hbs
exampleClass: ""
hideDarkExample: true
---

{{#>container innerClass="prose"}}
  <h2>Default</h2>
  <p>
    This is how content will be displayed when no theme is applied.
  </p>
{{/container}}

{{#>container containerModifier="theme--dark" innerClass="prose"}}
  <h2>Dark</h2>
  <p>
    The <code>theme--dark</code> theme can be used to invert the site's colors
    and apply a dark blue background.
  </p>
{{/container}}
