---
title: Hand Crafted
layout: layouts/blank
scripts:
- /design-system/prototypes/hand-crafted/hand-crafted
stylesheets:
- /design-system/prototypes/hand-crafted/hand-crafted
---

<nav>
  <a href="#" class="left">Paul Hebert</a>

  <a href="#">Writing</a>
  <a href="#">Work</a>
  <a href="#">Art</a>
</nav>

<main>
  <section class="sticky-grid">
    <div class="sticky-grid__content">
      <div class="sticky-grid__content-inner">
        <h1>Hi, I'm Paul!</h1>

        <p>
          I design and code experiences on the web.
          I like working with nice people who are passionate about their craft.
          I build pattern libraries and progressive web apps with the talented folks at
          <a href="https://cloudfour.com">Cloud Four</a>.
        </p>
      </div>
    </div>

    <div class="sticky-grid__stickers stack">
      <div class="paper stack__card"></div>
    </div>
  </section>

  <section class="sticky-grid">
    <div class="sticky-grid__content">
      <div class="sticky-grid__content-inner">
        <h2>Design</h1>

          <p>
            I design and code experiences on the web.
            I like working with nice people who are passionate about their craft.
            I build pattern libraries and progressive web apps with the talented folks at
            <a href="https://cloudfour.com">Cloud Four</a>.
          </p>
      </div>
    </div>

    <div class="sticky-grid__stickers stack">
      <div class="paper stack__card"></div>
      <div class="paper stack__card"></div>
      <div class="paper stack__card"></div>
      <div class="paper stack__card"></div>
      <div class="paper stack__card"></div>
      <div class="paper stack__card"></div>
      <div class="paper stack__card"></div>
    </div>
  </section>
</main>
