---
title: Page
notes: |
  The page component is used to lay out the skeleton of a page.
  A page is composed of a header, a footer, and the main content.
---

<div class="page">
  <header class="page__header">This is the header.</header>
  <main class="page__main">This is the main content.</main>
  <footer class="page__footer">This is the footer.</footer>
</div>
