<div class="alert-banner {{alertBannerClass}}">
  <p class="alert-banner__message">
    {{alertBannerMessage}}
  </p>

  <a class="alert-banner__action" href="{{alertBannerActionUrl}}">
    {{alertBannerActionText}}
  </a>
</div>
