---
title: Colors
---

<h1>Colors</h1>

<div class="color-block-wrapper">
  <div class="color-block color-block--hue-main">
    <div class="color-block__inner">
      $hue-main
    </div>
  </div>

  <div class="color-block color-block--hue-complementary">
    <div class="color-block__inner">
      $hue-complementary
    </div>
  </div>
</div>

<div class="color-block-wrapper">
  <div class="color-block color-block--light">
    <div class="color-block__inner">
      $color-light
    </div>
  </div>

  <div class="color-block color-block--dark">
    <div class="color-block__inner">
      $color-dark
    </div>
  </div>

  <div class="color-block color-block--dark-alternate">
    <div class="color-block__inner">
      $color-dark-alternate
    </div>
  </div>

  <div class="color-block color-block--mid">
    <div class="color-block__inner">
      $color-mid
    </div>
  </div>

  <div class="color-block color-block--interactive">
    <div class="color-block__inner">
      $color-interactive
    </div>
  </div>

  <div class="color-block color-block--interactive-active">
    <div class="color-block__inner">
      $color-interactive-active
    </div>
  </div>

  <div class="color-block color-block--accent">
    <div class="color-block__inner">
      $color-accent
    </div>
  </div>
</div>
