---
title: Hero
notes: |
  The hero area shows off a graphic alongside text content.
---

<div class="hero">
  <div class="hero__graphic">
    <svg
      viewBox="0 0 100 100"
      class="canvas"
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      role="img"
    >
      <title>Snow Flakes</title>
      <g class="js-canvas">
        <rect
          x="0"
          y="0"
          width="100"
          height="100"
          fill="hsl(
      191.3015283012658,
      53.14750850939442%,
      56.7305237730342%
    )"
        ></rect>
        <use
          href="#wE1YEKZ1ffSc84RK4dYqp"
          transform="rotate(0, 50, 50)"
        ></use><use
          href="#wE1YEKZ1ffSc84RK4dYqp"
          transform="rotate(40, 50, 50)"
        ></use><use
          href="#wE1YEKZ1ffSc84RK4dYqp"
          transform="rotate(80, 50, 50)"
        ></use><use
          href="#wE1YEKZ1ffSc84RK4dYqp"
          transform="rotate(120, 50, 50)"
        ></use><use
          href="#wE1YEKZ1ffSc84RK4dYqp"
          transform="rotate(160, 50, 50)"
        ></use><use
          href="#wE1YEKZ1ffSc84RK4dYqp"
          transform="rotate(200, 50, 50)"
        ></use><use
          href="#wE1YEKZ1ffSc84RK4dYqp"
          transform="rotate(240, 50, 50)"
        ></use><use
          href="#wE1YEKZ1ffSc84RK4dYqp"
          transform="rotate(280, 50, 50)"
        ></use><use
          href="#wE1YEKZ1ffSc84RK4dYqp"
          transform="rotate(320, 50, 50)"
        ></use>
      </g>
      <defs class="js-defs"><g id="lZKkEpQ81mLDNqbH833UD">
          <line
            x1="50"
            x2="50"
            y1="50"
            y2="11.395369725548669"
            stroke="#fff"
            stroke-width="1.3178355313592494"
            stroke-linecap="round"
          ></line>

          <line
            x1="50"
            x2="40.41382727668126"
            y1="46.8205737412737"
            y2="37.23440101795495"
            stroke="#fff"
            stroke-width="1.3178355313592494"
            stroke-linecap="round"
          ></line>

          <line
            x1="50"
            x2="41.5734749228514"
            y1="38.64588986697882"
            y2="30.219364789830223"
            stroke="#fff"
            stroke-width="1.3178355313592494"
            stroke-linecap="round"
          ></line>

          <line
            x1="50"
            x2="43.232439175055276"
            y1="34.02044917211795"
            y2="27.252888347173226"
            stroke="#fff"
            stroke-width="1.3178355313592494"
            stroke-linecap="round"
          ></line>

          <line
            x1="50"
            x2="44.0324645475844"
            y1="25.2866631837197"
            y2="19.3191277313041"
            stroke="#fff"
            stroke-width="1.3178355313592494"
            stroke-linecap="round"
          ></line>

          <line
            x1="50"
            x2="45.26128454521538"
            y1="15.945962659711626"
            y2="11.207247204927006"
            stroke="#fff"
            stroke-width="1.3178355313592494"
            stroke-linecap="round"
          ></line>
        </g>
        <g id="wE1YEKZ1ffSc84RK4dYqp">
          <use href="#lZKkEpQ81mLDNqbH833UD"></use>
          <use
            href="#lZKkEpQ81mLDNqbH833UD"
            style="transform-origin: center; transform: scaleX(-1)"
          ></use>
        </g>
      </defs>
    </svg>
  </div>

  <h1 class="hero__heading">This is a hero</h1>

  <p class="hero__content">It shows a graphic alongside some text content.</p>
</div>
