.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: scale.step(1);
  margin-top: scale.step(1);
}

.gallery__item {
  transition: transform $transition-speed $transition-easing;
  position:relative;
  z-index: 1;
}

.gallery__item:hover {
  transform: scale($scale-small);
}

.gallery__item::before {
  content: '';

  background: var(--color-interactive);

  position: absolute;
  bottom: $border-thick-offset;
  top: $border-thick-offset;
  left: $border-thick-offset;
  right: $border-thick-offset;

  border-radius: $border-radius-med;

  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform $transition-speed $transition-easing;

  z-index: 0;
}

.gallery__item:hover::before {
  transform: scale(1);
}

.gallery__link {
  &:focus-visible {
    outline: 0.3em solid var(--color-accent);

    &:hover {
      outline-offset: scale.step(-8);
    }
  }
}

.gallery__image {
  display: block;
  max-height: scale.step(12);
  max-width: 100%;
  z-index: 1;
  position: relative;
}

// TODO: Focus styles
