.prose {
  > * {
    max-width: $prose-width;
  }

  > .prose__breakout {
    max-width: $breakout-width;
  }

  > .prose__breakout-full {
    max-width: none;
  }

  // Space items vertically in prose blocks
  > * + * {
    margin-top: $base-stagger;
  }

  a {
    @include text-link();
  }

  blockquote {
    @include block-quote();
  }

  code {
    font-family: $font-code;
  }

  // Inline code examples
  :not(pre) > code {
    background: var(--color-bg-alt);
    border-radius: scale.step(-9);
    color: var(--color-interactive);
    padding: 0 scale.step(-9);
  }

  li > ul,
  li > ol {
    margin-top: scale.step(-9);
    padding-left: scale.step(3);
  }

  ul {
    list-style-type: disc;
  }

  li + li {
    margin-top: scale.step(-9);
  }
}
