<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {{ title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: Meta Description -->
    <!-- TODO: Favicon -->

    <link rel="stylesheet" href="assets/styles/compiled/index.css">
  </head>

  <body>
    {{{ content }}}
  </body>
</html>
