<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    {{ title }}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- TODO: Meta Description -->
  <!-- TODO: Favicon -->

  <link rel="stylesheet" href="/assets/styles/index.css">

  {{#each stylesheets}}
  <link rel="stylesheet" href="/assets/styles/{{this}}.css">
  {{/each}}
</head>

<body class="page">
  <header class="header nav">
    <a href="/">Paul Hebert</a>

    <nav>
      <a href="/work">Work</a>
      <a href="/writing">Writing</a>
      <a href="/art">Art</a>
    </nav>
  </header>

  <main class="main">
    {{{ content }}}
  </main>

  <footer>
    <nav class="footer nav">
      <a href="/style-guide">Style Guide</a>
      <a href="/work">Work</a>
      <a href="/writing">Writing</a>
      <a href="/art">Art</a>
      <a href="https://github.com/Paul-Hebert">Github</a>
      <a href="https://twitter.com/HaulPebert">Twitter</a>
    </nav>
  </footer>

  <script src="/assets/scripts/index.js"></script>
</body>

</html>
