<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    {{ title }}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- TODO: Meta Description -->
  <!-- TODO: Favicon -->

  <link rel="stylesheet" href="/assets/styles/index.css">
</head>

<body class="page">
  <header class="header">
    <a href="/">Paul Hebert</a>

    <nav>
      <a href="/work">Work</a>
      <a href="/writing">Writing</a>
      <a href="/art">Art</a>
    </nav>
  </header>

  <main class="main">
    {{{ content }}}
  </main>

  <footer class="footer">
    <p class="footer__message">
      You've reached the bottom of my site! Here are some links that
      might tickle your fancy. If they don't then I recommend
      going out for a stroll and finding a neighborhood cat to pet.
    </p>

    <nav class="footer__nav">
      <a href="/work">Work</a>
      <a href="/writing">Writing</a>
      <a href="/art">Art</a>
      <a href="https://github.com/Paul-Hebert">Github</a>
      <a href="https://twitter.com/HaulPebert">Twitter</a>
    </nav>
  </footer>

  <script src="/assets/scripts/index.js"></script>
</body>

</html>
