---
layout: layouts/single-container-page.hbs
layoutContainerClass: "container--prose-width"
---

<div class="prose">
  <h1>{{{title}}}</h1>

  {{#if subhead}}
    <p class="subhead">{{subhead}}</p>
  {{/if}}

  {{{ content }}}
</div>
