---
layout: layouts/base.hbs
---
{{!-- {{>alert-banner
  alertBannerMessage="This site is undergoing a public redesign."
  alertBannerActionUrl="http://paulhebertdesigns.com"
  alertBannerActionText="View my old site."
  alertBannerClass="theme--dark"
}} --}}

{{#>container
  containerModifier=(concat "page__header container " headerClass)
  innerClass="nav"
  containerEl="header"
  innerEl="nav"
}}
  <div class="nav__group nav__group--left">
    {{#>nav-link linkUrl="/"}}Paul Hebert{{/nav-link}}
  </div>

  {{#>nav-link linkUrl="/work/"}}Work{{/nav-link}}
  {{#>nav-link linkUrl="/writing/"}}Writing{{/nav-link}}
  {{!-- {{#>nav-link linkUrl="/art"}} Art"{{/nav-link}} --}}
{{/container}}

<main class="page__main {{mainClass}}">
  {{{content}}}
</main>

{{#>container
  containerModifier=(concat "page__footer container " footerClass)
  innerClass="nav"
  containerEl="footer"
  innerEl="nav"
}}
  <div class="nav__group nav__group--left">
    {{#>nav-link linkUrl="https://github.com/Paul-Hebert"}}
      {{>github-icon}}
    {{/nav-link}}
    {{#>nav-link linkUrl="https://twitter.com/HaulPebert"}}
      {{>twitter-icon}}
    {{/nav-link}}
  </div>

  {{#>nav-link linkUrl="/design-system/"}}Design System{{/nav-link}}
  {{#>nav-link linkUrl="/work/"}}Work{{/nav-link}}
  {{#>nav-link linkUrl="/writing/"}}Writing{{/nav-link}}
  {{!-- {{#>nav-link linkUrl="/art"}} Art"{{/nav-link}} --}}
{{/container}}
