---
title: Card
notes: |
  Cards can be used to house a variety of linked content such as blog posts,
  and side projects.

  Cards work best in [listings](/components/listings).
---

<div class="card">
  <a class="card__primary-action" href="https://cloudfour.com/thinks/transitioning-hidden-elements/">
    <h2 class="card__title">Transitioning Hidden Elements</h2>
  </a>

  <p class="card__description">
    Transitioning hidden elements can be tricky! I wrote an npm package to provide a reusable solution.
  </p>

  <div class="card__meta">
    <span>January 16th, 2020</span>

    <span>Written for Cloud Four</span>
  </div>
</div>
