---
title: Figures
notes: |
  Figures can be used to show examples in blog posts and other writing.

  Figures should generally be used within [prose blocks](../prose).
---

<div class="prose">
  {{> figure
    caption="An early illustration exploring the use of imagery in site designs."
    imgSrc="eyeballs.png"}}
</div>
