---
title: Colors
---

<h1>Colors</h1>

<div class="color-block-wrapper">
  <div class="color-block color-block--hue-main">
    <div class="color-block__inner">
      $hue-main
    </div>
  </div>

  <div class="color-block color-block--hue-secondary">
    <div class="color-block__inner">
      $hue-secondary
    </div>
  </div>
</div>

<div class="color-block-wrapper">
  <div class="color-block color-block--color-main-lighter">
    <div class="color-block__inner">
      $color-main-lighter
    </div>
  </div>
  <div class="color-block color-block--color-main-light">
    <div class="color-block__inner">
      $color-main-light
    </div>
  </div>
  <div class="color-block color-block--color-main">
    <div class="color-block__inner">
      $color-main
    </div>
  </div>
  <div class="color-block color-block--color-main-dark">
    <div class="color-block__inner">
      $color-main-dark
    </div>
  </div>
  <div class="color-block color-block--color-main-darker">
    <div class="color-block__inner">
      $color-main-darker
    </div>
  </div>
</div>

<div class="color-block-wrapper">
  <div class="color-block color-block--color-secondary-lighter">
    <div class="color-block__inner">
      $color-secondary-lighter
    </div>
  </div>
  <div class="color-block color-block--color-secondary-light">
    <div class="color-block__inner">
      $color-secondary-light
    </div>
  </div>
  <div class="color-block color-block--color-secondary">
    <div class="color-block__inner">
      $color-secondary
    </div>
  </div>
  <div class="color-block color-block--color-secondary-dark">
    <div class="color-block__inner">
      $color-secondary-dark
    </div>
  </div>
  <div class="color-block color-block--color-secondary-darker">
    <div class="color-block__inner">
      $color-secondary-darker
    </div>
  </div>
</div>

<div class="color-block-wrapper">
  <div class="color-block color-block--light">
    <div class="color-block__inner">
      $color-light
    </div>
  </div>

  <div class="color-block color-block--dark">
    <div class="color-block__inner">
      $color-dark
    </div>
  </div>

  <div class="color-block color-block--dark-alternate">
    <div class="color-block__inner">
      $color-dark-alternate
    </div>
  </div>

  <div class="color-block color-block--mid">
    <div class="color-block__inner">
      $color-mid
    </div>
  </div>

  <div class="color-block color-block--interactive">
    <div class="color-block__inner">
      $color-interactive
    </div>
  </div>

  <div class="color-block color-block--interactive-active">
    <div class="color-block__inner">
      $color-interactive-active
    </div>
  </div>

  <div class="color-block color-block--accent">
    <div class="color-block__inner">
      $color-accent
    </div>
  </div>
</div>
