---
title: Colors
colors:
  - title: Primary Hues
    subColors:
    - hue-main
    - hue-secondary
  - title: Main Hue Shades
    subColors:
    - color-main-lighter
    - color-main-light
    - color-main
    - color-main-dark
    - color-main-darker
  - title: Secondary Hue Shades
    subColors:
    - color-secondary-lighter
    - color-secondary-light
    - color-secondary
    - color-secondary-dark
    - color-secondary-darker
  - title: Default Theme Colors
    subColors:
    - color-bg
    - color-bg-alt
    - color-text
    - color-interactive
    - color-accent
    - color-heading
    - color-mid
    - color-link
    - color-link-underline
    - color-link-hover
  - title: Alt Theme Colors
    themeClass: theme--alt
    subColors:
    - color-bg
    - color-bg-alt
    - color-text
    - color-interactive
    - color-accent
    - color-heading
    - color-mid
    - color-link
    - color-link-underline
    - color-link-hover
---

<div class="prose">
  <h1>Colors</h1>

  {{#each colors}}
    <h2>{{this.title}}</h2>

    <div class="color-block-wrapper prose__breakout">
      {{#each this.subColors}}
        <div class="color-block color-block--{{this}} {{this.themeClass}}">
          <div class="color-block__inner">
            ${{this}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>
