.card {
  position: relative;
  transition: transform $transition-speed $transition-easing;
  border-radius: $border-radius-med;
  z-index: 1;
}

.card:hover {
  transform: scale($scale-small);
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  bottom: $border-thick-offset;
  z-index: 0;
  border-radius: $border-radius-med;
}

.card::before {
  background: var(--color-link-underline);
  top: 0;
  left: 0;
  right: 0;
}

.card::after {
  background: var(--color-interactive);
  top: $border-thick-offset;
  left: $border-thick-offset;
  right: $border-thick-offset;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform $transition-speed $transition-easing;
}

.card:hover::after {
  transform: scaleY(1);
}

.card__content {
  background: var(--color-bg-alt);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: scale.step(0);
  position: relative;
  z-index: 1;
}

.card__content > * + * {
  margin-top: scale.step(-2);
}

.card__primary-action {
  color: var(--color-heading);
  text-decoration: none;
  transition: color $transition-speed $transition-easing;

  &:hover {
    color: var(--color-interactive);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &:focus {
    outline: none;

    &::before {
      outline: 0.3em solid var(--color-accent);
    }

    &:hover::before {
      outline-offset: $text-link-border-size;
    }
  }
}

.card__title {
  font-size: scale.step(1);
}

.card__meta {
  display: flex;
  justify-content: space-between;
  font-size: scale.step(-1);
}

.card__description {
  flex-grow: 1;
}
