---
title: Card
notes: |
  Cards can be used to house a variety of linked content such as blog posts,
  and side projects.

  Cards work best in [listings](/components/listings).
---

{{#> card
  link="https://cloudfour.com/thinks/transitioning-hidden-elements/"
  title="Transitioning Hidden Elements"
  description="Transitioning hidden elements can be tricky! I wrote an npm package to provide a reusable solution."
}}
  <span>January 16th, 2020</span>
  <span>Written for Cloud Four</span>
{{/card}}
