<div class="card {{cardClass}}">
  <div class="card__content">
    <a class="card__primary-action" href="{{link}}">
      <h2 class="card__title">{{title}}</h2>
    </a>

    <p class="card__description">
      {{description}}
    </p>

    <div class="card__meta">
      {{> @partial-block}}
    </div>
  </div>
</div>
