.nav {
  align-items: center;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nav__link {
  @include text-link();
  background-position-y: calc(1.1em + #{$nav-link-padding});
  display: inline-block;
  padding: $nav-link-padding 0;
  text-align: center;

  &::before {
    bottom: $nav-link-padding;
    top: $nav-link-padding;
  }
}

.nav__item,
.nav__group {
  display: inline-flex;
}

.nav__item + .nav__item {
  margin-left: $nav-link-margin;
}

.nav__group--left {
  margin-right: auto;
}
