---
title: Nav
notes: |
  Navs house navigational links in a horizontal bar.
---

<nav class="nav">
  <div class="nav__group nav__group--left">
    {{#>nav-link linkUrl="/"}}Paul Hebert{{/nav-link}}
  </div>

  {{#>nav-link linkUrl="/work/"}}Work{{/nav-link}}
  {{#>nav-link linkUrl="/writing/"}}Writing{{/nav-link}}
</nav>
