---
title: Nav
notes: |
  Navs house navigational links in a horizontal bar.
---

<nav class="nav">
  <div class="nav__group nav__group--left">
    <a href="#" class="nav__item nav__link">Left-Aligned Link</a>
  </div>

  <a href="#" class="nav__link nav__item">Link</a>
  <a href="#" class="nav__link nav__item">Link</a>
  <a href="#" class="nav__link nav__item">Link</a>
  <a href="#" class="nav__link nav__item">Link</a>
</nav>
