:root {
  --color-bg: #{$color-main-lighter};
  --color-bg-alt: #{$color-white};
  --color-text: #{$color-main-darker};
  --color-interactive: #{$color-secondary};
  --color-accent: #{$color-main};
  --color-heading: #{$color-main-dark};
  --color-mid: #{$color-secondary-darker};

  --color-link: var(--color-interactive);
  --color-link-underline: var(--color-accent);
  --color-link-hover:#{$color-main-light};
}

.theme--alt {
  --color-bg: #{$color-main};
  --color-bg-alt: #{$color-main-dark};
  --color-text: #{$color-white};
  --color-interactive: #{$color-white};
  --color-accent: #{$color-secondary-light};
  --color-heading: #{$color-main-lighter};
  --color-mid: #{$color-main};

  --color-link: var(--color-interactive);
  --color-link-underline: var(--color-accent);
  --color-link-hover:#{$color-secondary};
}
