---
title: Writing
layout: layouts/single-container-page.hbs
---

<div class="prose">
  <h1>Writing</h1>
  <p>A collection of articles I've written for my blog or other publications.</p>
</div>

<ul class="listings">
  {{!-- TODO: Sort by date --}}
  {{#each (reverse collections.writing)}}
    {{#> card
      link=(ternary data.isExternal data.externalUrl (url url))
      title=data.title
      description=data.description
      cardClass=(ternary (compare @index "===" 0) "listings__featured-item" "")
    }}
      <span>{{prettyDate data.date}}</span>

      {{#if data.isExternal}}
        <span>Written for {{data.externalName}}</span>
      {{/if}}
    {{/card}}
  {{/each}}
</ul>
