---
title: Writing
layout: layouts/single-container-page.hbs
---

<div class="u-prose-width u-space-items">
  <h1>Writing</h1>
  <p class="subhead">A collection of articles I've written for my blog or other publications.</p>
</div>

<ul class="listings">
  {{!-- TODO: Sort by date --}}
  {{#each (preparePosts collections.writing)}}
    {{#> card
      link=(ternary data.isExternal data.externalUrl (url url))
      title=data.title
      description=data.description
      cover=(articleCoverUrl data.cover url)
    }}
      <span>{{prettyDate data.date}}</span>

      {{#if data.isExternal}}
          <span class="u-flex u-align-center">
            Written for
            {{#if (compare data.externalName "===" "Cloud Four")}}
              {{>c4-icon iconClass="u-size2 u-space-left-7"}}
            {{else}}
              {{data.externalName}}
            {{/if}}
          </span>
      {{/if}}
    {{/card}}
  {{/each}}
</ul>
