---
title: Icon
notes: |
  A handful of icons are available for use on the site.

  Since there are only a few I didn't employ any fancy icon loading strategies.
  Each icon is just its own handlebars file housing an inline SVG.
---
<div>
  {{> twitter-icon}}
  {{> github-icon}}
</div>
