html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.eyeball,
.iris,
.pupil {
  border-radius: 50%;
}

.container {
  height: 100%;
  background: #5f81b2;
  position: relative;
}

.creature-container {
  position: absolute;
  bottom: 0;
}

.creature {
  cursor: pointer;
}

.eye {
  transition: transform 0.3s ease-out;
  transform-origin: center;
  // Force transform-origin to be based off the eye, not the SVG wrapper.
  transform-box: fill-box;
}

.creature:hover .eye {
  transform: scaleY(0.0005) !important;
}

.wrinkle {
  fill: #b56f6f;
}

.eye-white {
  fill: #fff;
}

.iris {
  fill: #71a4f4;
}

.pupil {
  fill: #262020;
}

.body-main,
.eye-skin {
  fill: #ea6a6a;
}
