---
title: Eyeball Demo
layout: layouts/page
scripts:
- style-guide/prototypes/eyeball-experiment/eyeball-experiment
stylesheets:
- style-guide/prototypes/eyeball-experiment/eyeball-experiment
---

<div class="creature-container">
  <svg x="0px" y="0px" viewBox="0 0 600 300" class="js-creature-container"></svg>
</div>
