html,
body {
  background: #5f81b2;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.eyeball,
.iris,
.pupil {
  border-radius: 50%;
}

.container {
  height: 100%;
  position: relative;
}

.creature-container {
  position: absolute;
  bottom: 0;
}

.creature {
  cursor: pointer;
}

.eye {
  transition: transform 0.3s ease-out;
  transform-origin: center;
  // Force transform-origin to be based off the eye, not the SVG wrapper.
  transform-box: fill-box;
}

// TODO: disable based on prefers-reduced-motion
.creature:hover .eye {
  transform: scaleY(0.0005) !important;
}

.wrinkle {
  fill: #b56f6f;
}

.eye-white {
  fill: #fff;
}

.iris {
  fill: #71a4f4;
}

.pupil {
  fill: #262020;
}

.body-main,
.eye-skin {
  fill: #ea6a6a;
}

/**
 * Page Layout Stuff
 */

.page__main {
  padding: 0 !important;
}

.page__footer {
  background: #ba6060;
  flex-shrink: 0;
}

.nav a {
  color: #fff !important;
}

.prose * {
  color: #fff !important;
}

.prose {
  margin-left: 80px;
  max-width: 45rem;
  z-index: 1;
  position: relative;
}

html body.page a {
  // font-style: italic;
  text-decoration: underline;
  text-decoration-color: #f47676 !important;
  text-decoration-thickness: 3px;
  transition: color 0.3s ease-out, text-decoration 0.3s ease-out;
}

html body.page a:hover {
  color: #fff;
  text-decoration-thickness: 9px;
}

.prose a::before,
.prose a::after {
  content: none;
}
