---
title: Work
---

<h1>Work</h1>

<h2>
  Personal Work
</h2>

<h2>
  Open Source Contributions
</h2>

<ul class="listings">
  {{#each openSource}}
  <li class="card">
    <a class="card__primary-action" href="{{this.url}}">
      <h3 class="card__title">{{this.title}}</h3>
    </a>

    <div class="card__meta">
      <span>Role: {{this.role}}</span>
    </div>
  </li>
  {{/each}}
</ul>
