---
title: Work
---

<div class="prose">
  <h1>Work</h1>

  <h2>
    Personal Work
  </h2>

  <h2>
    Open Source Contributions
  </h2>

  <p>
    Open source projects have been a huge help for me learning and working as a
    designer and developer. I'm happy to have the opportunity to give back and
    contribute to the Open Source community.
  </p>
</div>

<ul class="listings">
  {{#each openSource}}
  <li class="card">
    <a class="card__primary-action" href="{{this.url}}">
      <h3 class="card__title">{{this.title}}</h3>
    </a>

    <p class="card__description">
      {{this.description}}
    </p>

    <div class="card__meta">
      <span>Role: {{this.role}}</span>
    </div>
  </li>
  {{/each}}
</ul>
