---
title: Work
---

<div class="prose">
  <h1>Work</h1>

  <h2>
    Personal Work
  </h2>

  <h2>
    Open Source Contributions
  </h2>

  <p>
    Open source projects have been a huge help for me learning and working as a
    designer and developer. At Cloud Four I've had the opportunity to give back
    and contribute to a number of open source projects, as well as open source
    tools we created.
  </p>
</div>

<ul class="listings">
  {{#each openSource}}
    {{#> card
      link=this.url
      title=this.title
      description=this.description
    }}
      <span>Role: {{this.role}}</span>
    {{/card}}
  {{/each}}
</ul>
