---
title: Work
layout: layouts/page.hbs
---

{{#>container containerModifier="container--tall container--secondary" innerClass="u-space-items"}}
  <div class="u-prose-width u-space-items">
    <h1>Work</h1>

    <p class="subhead">A few projects that I'm especially proud of.</p>
  </div>

  <ul class="listings">
    {{#each  (sortCollection collections.work 'order')}}
      {{#unless data.hidden}}
        {{#> card
          link=(ternary data.externalUrl data.externalUrl (url url))
          title=data.title
          description=data.description
          cardClass=(ternary (compare @index "===" 0) "listings__featured-item" "")
        }}{{/card}}
      {{/unless}}
    {{/each}}
  </ul>
{{/container}}
