<div class="blog-header">
  <h1 class='blog-header__title'>{{{title}}}</h1>

  {{#if subhead}}
    <p class="blog-header__subhead subhead">{{subhead}}</p>
  {{/if}}

  <p class="blog-header__date">{{prettyDate data.date false}}</p>
</div>
