<div class="blog-header">
  <h1 class='blog-header__title'>
    {{#if (compare status '===' 'draft')}}
      (Draft)
    {{/if}}

    {{{title}}}
  </h1>

  {{#if subhead}}
    <p class="blog-header__subhead subhead">{{subhead}}</p>
  {{/if}}
  <time class="blog-header__date" datetime="{{uglyDate data.date}}">{{prettyDate data.date false}}</time>
</div>
