.container {
  background: var(--color-bg);
  width: 100%;
}

.container__inner {
  margin: 0 auto;
  max-width: $container-width;
  width: 100%;
  padding: $base-padding;
}

// TODO: This should only take effect on larger screens
.container--secondary > .container__inner {
  padding-left: calc(#{$base-padding} + 2vw);
  padding-right: calc(#{$base-padding} + 2vw);
}

.container--tall > .container__inner {
  padding-top: calc(#{$base-padding} * 2);
  padding-bottom: calc(#{$base-padding} * 2);
}
