---
title: Containers
notes: |
  Containers are a layout component. They are used to build major page blocks.
  They apply a maximum width to content as well as some base padding.

  There is an `--secondary` modifier to make a container receive extra horizontal
  padding.
---

<div class="container">
  <div class="container__inner">
    This is a full width container.
  </div>
</div>

<div class="container container--secondary">
  <div class="container__inner">
    This is a <code>container--secondary</code>.
  </div>
</div>
