@use "../scale.scss";
@import "../_config.scss";

@mixin block-quote {
  border-left: $border-thick solid var(--color-accent);
  font-family: $font-display;
  font-style: italic;
  padding: scale.step(-5) scale.step(-1);
  padding-right: 0;
  position: relative;

  p {
    color: var(--color-mid);
  }
}
