@import "../_config.scss";

@mixin text-link {
  color: var(--color-link);
  text-decoration-color: var(--color-link-underline);
  text-decoration-thickness: 0.1em;

  transition-duration: $transition-speed;
  transition-timing-function: $transition-easing;
  transition-property: text-decoration-color, text-decoration-thickness;

  &:hover {
    text-decoration-color: var(--color-link-underline-hover);
    text-decoration-thickness: 0.35em;
  }

  &:focus-visible {
    outline: 0.3em solid var(--color-accent);
    outline-offset: scale.step(-8);
  }
}
