---
title: Listings
notes: |
  Listings lay out content in a responsive grid.

  Featured listings span multiple columns on large screens.

  Listings work well for housing [cards](/components/card).
---

<ul class="listings">
  <li class="listings__featured-item">
    This is a featured listing item. On large screens it stetches to span multiple columns.
  </li>
  <li>This is a listing item.</li>
  <li>This is a listing item.</li>
  <li>This is a listing item.</li>
  <li>This is a listing item.</li>
  <li>This is a listing item.</li>
  <li>This is a listing item.</li>
  <li>This is a listing item.</li>
  <li>This is a listing item.</li>
  <li>This is a listing item.</li>
  <li>This is a listing item.</li>
  <li>This is a listing item.</li>
  <li>This is a listing item.</li>
  <li>This is a listing item.</li>
  <li>This is a listing item.</li>
  <li>This is a listing item.</li>
</ul>
