@use "../../base/scale.scss";
@import "../../base/_config.scss";

.footer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $base-padding;
}

.footer__message {
  font-size: scale.step(-1);
  flex-basis: $prose-width;
  flex-shrink: 0;
  max-width: 100%;
}
