---
title: Paul Hebert
layout: layouts/page.hbs
scripts:
- 'assets/scripts/home'
---

{{#>container containerModifier="container--tall" innerClass="u-space-items"}}
  <div class="hero">
    <a href="https://squigglesanddots.art" class="hero__graphic">
      <sq-animated-snow-flakes class="art-embed"></sq-animated-snow-flakes>
    </a>

    <div class="hero__heading u-space-items">
      <h1>Hey, I'm Paul!</h1>

      <p class="subhead">I design and code digital products and experiences.</p>
    </div>

    <div class="hero__content u-space-items">
      <p>
        I live in
        <a href="https://www.currentresults.com/Weather-Extremes/US/cloudiest-cities.php">sunny Portland, Oregon</a>
        where I craft accessible, responsive &amp; futuristic web experiences with the
        talented folks at <a href="https://cloudfour.com">Cloud Four</a>.
      </p>

      <p>
        I also enjoy
        <a href="/writing">writing</a>,
        <a href="/art">drawing</a>,
        <a href="https://squigglesanddots.art">creating generative art</a>,
        gardening, cooking, and exploring the great outdoors.
        I'm currently building a web-based spaceship game. Check out
        <a href="https://spaced-game.netlify.app/">the latest prototype!</a>
      </p>
    </div>
  </div>
{{/container}}


{{#>container containerModifier="container--tall container--prose-width" innerClass="u-space-items"}}
  <div class="prose">
    <h2>Selected Writing</h2>

    <p class="subhead">
      I enjoy writing to share knowledge and improve my own understanding.
      Here are a few of my favorite articles:
    </p>
  </div>

  <ul class="u-space-items">
    {{!-- TODO: Sort by priority? --}}
    {{#each (preparePosts collections.writing)}}
      {{#if data.isFavorite}}
        {{#> card
          link=(ternary data.isExternal data.externalUrl (url url))
          title=data.title
          headingTag="h3"
          description=data.description
        }}
          <span>{{prettyDate data.date}}</span>

          {{#if data.isExternal}}
              <span class="u-flex u-align-center">
                Written for
                {{#if (compare data.externalName "===" "Cloud Four")}}
                  {{>c4-icon iconClass="u-size2 u-space-left-7"}}
                {{else}}
                  {{data.externalName}}
                {{/if}}
              </span>
          {{/if}}
        {{/card}}
      {{/if}}
    {{/each}}
  </ul>

  <p><a href="/writing">View more articles →</a></p>
{{/container}}

{{#>container containerModifier="container--tall container--prose-width" innerClass="u-space-items"}}
  <div class="prose">
    <h2>Selected Work</h2>

    <p class="subhead">
      I enjoy creating side projects to experiment and push the boundaries of the web.
      Here are a few of my favorite works:
    </p>
  </div>

  <ul class="u-space-items">
    {{#each collections.work}}
      {{#if data.isFavorite}}
        {{#> card
          link=(ternary data.externalUrl data.externalUrl (url url))
          title=data.title
          description=data.description
        }}
        {{/card}}
      {{/if}}
    {{/each}}
    {{#each openSource}}
      {{#if this.isFavorite}}
        {{#> card
          link=this.url
          title=this.title
          description=this.description
          headingTag="h3"
        }}
        {{/card}}
      {{/if}}
    {{/each}}
  </ul>

  <p><a href="/work">View more work →</a></p>
{{/container}}


{{#>container containerModifier="container--tall container--prose-width" innerClass="u-space-items"}}
  <div class="prose">
    <h2>Getting in Touch</h2>

    <p>
      Outside of work you can find me gardening, hiking, cooking, or hanging out with my girlfriend and dog.
      Your best bet for getting in touch with me is reaching out over
      <a href="https://sunny.garden/@paulhebert">Mastodon</a>,
      <a href="https://twitter.com/HaulPebert">Twitter</a>,
      <a href="https://github.com/Paul-Hebert">GitHub</a>, or
      <a href="https://www.linkedin.com/in/paul-hebert-20b75162/">LinkedIn</a>.
    </p>
  </div>
{{/container}}
