---
title: Paul Hebert
layout: layouts/base
---

<div class="prose">
  <h1>Hey, I'm Paul!</h1>
  <p>
    I'm a web designer and developer who's passionate about building inclusive
    interfaces. I love obsessing over typography, color theory, design systems,
    reactive interfaces and static sites.
  </p>

  <p>
    I work with <a href="https://cloudfour.com">Cloud Four</a> building
    accesible design systems and progressive web apps.
  </p>
</div>
