---
title: Paul Hebert
layout: layouts/single-container-page
themeClass: theme--alt
---

<div class="prose">
  <h1>Hey, I'm Paul!</h1>
  <p>
    I design and code inclusive websites and web apps.
    I love switching back and forth between my sketchbook and code editor,
    obsessing over design systems, accessible interfaces, and performant code.
  </p>

  <p>
    I live in
    <a href="https://www.currentresults.com/Weather-Extremes/US/cloudiest-cities.php">sunny Portland Oregon</a>
    where I build accessible design systems and progressive web apps with the
    talented folks at <a href="https://cloudfour.com">Cloud Four</a>.
  </p>

  <p>
    In addition to designing and developing websites I enjoy
    <a href="/writing">writing</a>, <a href="/art">drawing</a>,
    gardening, cooking, and exploring the great outdoors.
  </p>
</div>
