---
title: Paul Hebert
layout: layouts/base
---

<div class="prose">
  <h1>Hey, I'm Paul!</h1>
  <p>
    I'm a web designer and developer who's passionate about building inclusive
    interfaces. I love obsessing over typography, color theory, design systems,
    reactive interfaces and static sites.
  </p>

  <p>
    I live in
    <a href="https://www.currentresults.com/Weather-Extremes/US/cloudiest-cities.php">sunny Portland Oregon</a>
    where I build accessible design systems and progressive web apps with
    <a href="https://cloudfour.com">Cloud Four</a>.
  </p>

  <p>
    In addition to designing and developing websites I enjoy
    <a href="/writing">writing</a>, <a href="/art">drawing</a>,
    gardening, cooking, and enjoying the great outdoors.
  </p>
</div>
