@use "base/scale.scss";
@import "base/_config.scss";

.color-block-wrapper {
  background: #fff;
  margin-top: scale.step(1);
  padding: scale.step(1);
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.color-block {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: scale.step(1);
  min-width: scale.step(9);
  height: scale.step(6);
  flex-grow: 1;
}

.color-block--hue-main {
  background: hsl($hue-main, 100%, 50%);
}

.color-block--hue-complementary {
  background: hsl($hue-complementary, 100%, 50%);
}

.color-block--light {
  background: $color-light;
}

.color-block--dark {
  background: $color-dark;
}

.color-block--dark-alternate {
  background: $color-dark-alternate;
}

.color-block--mid {
  background: $color-mid;
}

.color-block--interactive {
  background: $color-interactive;
}

.color-block--interactive-active {
  background: $color-interactive-active;
}

.color-block--accent {
  background: $color-accent;
}

.color-block__inner {
  background: $color-white;
  font-family: $font-code;
  padding: scale.step(-4);
  font-size: scale.step(-2);
  transform: rotate(-3deg);
}

.example {
  border: 2px solid $color-white;
  margin-top: scale.step(0);
  padding: scale.step(0);

  > * + * {
    margin-top: $base-stagger;
  }
}
