@use "base/scale.scss";
@import "base/_config.scss";

.color-block-wrapper {
  background: var(--color-bg-alt);
  margin-top: scale.step(1);
  padding: scale.step(1);
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.color-block {
  align-items: center;
  border: 1px solid $color-gray-10;
  display: flex;
  justify-content: center;
  padding: scale.step(1);
  min-width: scale.step(9);
  height: scale.step(6);
  flex-grow: 1;
}

.color-block--hue-main {
  background: hsl($hue-main, 100%, 50%);
}

.color-block--hue-secondary {
  background: hsl($hue-secondary, 100%, 50%);
}

.color-block--color-main {
  background: $color-main;
}

.color-block--color-main-light {
  background: $color-main-light;
}

.color-block--color-main-lighter {
  background: $color-main-lighter;
}

.color-block--color-main-dark {
  background: $color-main-dark;
}

.color-block--color-main-darker {
  background: $color-main-darker;
}

.color-block--color-secondary {
  background: $color-secondary;
}

.color-block--color-secondary-light {
  background: $color-secondary-light;
}

.color-block--color-secondary-lighter {
  background: $color-secondary-lighter;
}

.color-block--color-secondary-dark {
  background: $color-secondary-dark;
}

.color-block--color-secondary-darker {
  background: $color-secondary-darker;
}

.color-block--color-bg {
  background: var(--color-bg);
}

.color-block--color-bg-alt {
  background: var(--color-bg-alt);
}

.color-block--color-text {
  background: var(--color-text);
}

.color-block--color-interactive {
  background: var(--color-interactive);
}

.color-block--color-accent {
  background: var(--color-accent);
}

.color-block--color-heading {
  background: var(--color-heading);
}

.color-block--color-mid {
  background: var(--color-mid);
}

.color-block--color-link {
  background: var(--color-link);
}

.color-block--color-link-underline {
  background: var(--color-link-underline);
}

.color-block--color-link-hover {
  background: var(--color-link-hover);
}

.color-block__inner {
  border: 1px solid $color-black-30;
  background: $color-white;
  color: $color-main-darker;
  font-family: $font-code;
  padding: scale.step(-4);
  font-size: scale.step(-2);
  transform: rotate(-3deg);
}

.example {
  border: 2px solid $color-white;
  margin-top: scale.step(0);
  padding: scale.step(0);

  > * + * {
    margin-top: $base-stagger;
  }
}
