---
title: Nav
notes: |
  Navs house navigational links in a horizontal bar.

  Individual links can be left-aligned instead of right-aligned.
---

<nav class="nav">
  <a href="#" class="nav__left-item">Left-Aligned Link</a>

  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
</nav>
